// CSS Reset
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, input, button {
    font-size: 12px;
    font-family: "Arial Rounded MT";
}

a:hover {
    opacity: .5;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
