/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

main{
    overflow:auto;
}
    

body, input, button {
    font-size: 12px;
    font-family: "Arial Rounded MT";
}

a {
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

a:hover {
    opacity: .5;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

/* Header */
header {
    background-color: #4BD0D9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: none;
}

#toggle {
    display: none;
}


.logo {
    display: flex;
    align-items: center;
}

ul.menu {
    display: flex;
    align-items: center;
}

ul.menu li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}

ul.menu li a {
    color: white;
    text-decoration: none;
}

/* Banner */
.banner {
    background-color: #4BD0D9;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}

.left {
    justify-content: center;
    height: 50%;
}

.left h2 {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.left h3 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.left a {
    font-size: 20px;
    text-decoration: none;
    color: #3F3D56;
    background-color: white;
    padding: 10px;
    transition: 1s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.left a:hover {
    position: relative;
    top: 5px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.right {
    display: flex;
    align-items: center;
    height: 100%;
}

.right img {
    max-width: 600px;
    height: auto;
}

/* Section 2 */
.benefit {
    padding: 20px 120px;
    height: 100%;
}
.heading {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

.benefit {
    margin-bottom: 150px;
}

.heading h1 {
    font-size: 40px;
    font-weight: bold;
    color: #3F3D56;
    display: inline-block;
    border-bottom: #4BD0D9 solid 5px;
}

.advantage {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.card {
    height: 300x;
    width: 220px;
    padding: 20px 30px;
    box-shadow: 0 3px 14px #707070 ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card .icon {
    text-align: center;
}

.icon img {
    margin-top: 20px;
    max-width:50px ;
}

.card .desc {
    text-align: center;
}

.card .desc h3, p {
    color: #3F3D56;
}

.card .desc h3 {
    font-size: 20px;
    margin: 10px 0 20px;
}

.card .desc p {
    font-size: 14px;
    margin-bottom: 50px;
}

/* Section 3 */
.works {
    margin-bottom: 130px;
    padding: 20px 120px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.images-container {
    margin-top: 100px;
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.images img {
    flex-grow: 6;
    max-width: 500px;
    box-shadow: 0 3px 14px #707070;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Section 4 & 5 */

.team {
    text-align: center;
}

.teams{
    margin-bottom: 160px;
    padding:45px;
}

.team img {
    border-radius: 50%;
    max-width:60%;
}

.our-team {
    display: flex;
    justify-content:space-around;
    margin-top:110px;
}

.team h3{
    color: #3F3D56;
    font-size:20px;
    margin: 10px 0 20px;
}

.team {
    font-size:14px;
}


#contact {
    margin-top: 80px;
}

.contacts{
    padding:45px;
}


.heading-1{
    margin-top: 80px;
    margin-bottom: 20px;
}

.cntct{
    font-size: 40px;
    font-weight: bold;
    color: #3F3D56;
    display: inline-block;
    border-bottom: #4BD0D9 solid 5px;
}

.contact-section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

form{
    flex-basis:50%;
}

.image-contact{
    flex-basis:65%;
    margin-left: 50px;
}


.image-contact img {
    border: solid 1px #4BD0D9;
    max-width: 650px;
    object-fit: cover;
    padding: 25px;
    box-shadow: 2px 2px 20px -11px rgba(0, 0, 0, 0.75)
}

.message {
    height: 155px;
    width: 100%;
    padding-bottom: 103px;
    box-shadow: 2px 5px 20px -8px rgba(0, 0, 0, 0.20);
}

.email {
    height: 50px;
    width: 100%;
    box-shadow: 2px 5px 20px -8px rgba(0, 0, 0, 0.20);
}

.name {
    height: 50px;
    width: 100%;
    box-shadow: 2px 5px 20px -8px rgba(0, 0, 0, 0.20);
}


#submit:hover {
    opacity: 0.75;
}


#submit {
    text-align: center;
    width: 100%;
    height: 45px;
    background-color: #4BD0D9;
    color:#ffff;
    font-weight: bold;
    border-radius: 11px;
    border: none;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
}


footer {
    text-align: center;
    background-color: #4BD0D9;
    color: antiquewhite;
    padding:16px;
    clear: both;
    margin-top: 45px;
}

footer a img {
    width: 120px;
    transition: opacity 300ms ease-in-out;
}

footer a img:hover {
    opacity: 0.75;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fo-li {
    display: flex;
}

.fo-li ul {
    list-style-type: none;
    margin: 0 15px 0 15px;
}

.fo-li ul a {
    text-decoration: none;
    color: white;
    font-size:15px;
}

.fo-li ul a:hover {
    color: black;
    opacity: 0.75;
}
